<component name="ArtifactManager">
  <artifact type="war" name="spring-eureka-service:war">
    <output-path>$PROJECT_DIR$/spring-eureka-service/target</output-path>
    <root id="archive" name="cn.com-1.5.10.RELEASE.war">
      <element id="artifact" artifact-name="spring-eureka-service:war exploded" />
    </root>
  </artifact>
</component>